@model IEnumerable<StoreFront.DATA.EF.Models.OrderProduct>

@{
    ViewData["Title"] = "Inspire Motors";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Quanity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Quanity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Car.ExteriorColor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order.ShipCity)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OrderProductId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.OrderProductId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.OrderProductId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
